.about {
  padding: 80px 10%;
  background: white;
  color: #222;
}

.about-content {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.about h2 {
  font-size: 42px;
  color: #0077b6;
  margin-bottom: 20px;
}

.about p {
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 30px;
}

.about button {
  background: #0077b6;
  color: white;
  border: none;
  padding: 14px 30px;
  border-radius: 30px;
  cursor: pointer;
}